::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5) !important;
    font-style: italic;
}
:-moz-placeholder {
    color: rgba(255,255,255,0.5) !important;
    font-style: italic;
}
::-moz-placeholder {
    color: rgba(255,255,255,0.5) !important;
    font-style: italic;
}
:-ms-input-placeholder {
    color: rgba(255,255,255,0.5) !important;
    font-style: italic;
}

.loginFooterMsg
    display none
    
a,  
a:focus, 
a:active, 
a:visited, 
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus
    outline none
    
input:-webkit-autofill {
    background transparent !important
    color rgba(255,255,255,0.9) !important
}

 body
    background #1E6284 url(http://i.imgur.com/Fh6W56Y.png) no-repeat 100% 20%
    background-size 100% 100%
    font-family 'Open Sans', serif
    padding-bottom 80px
    
.modal-header
    background #f2f2f2
    border-radius 3px
    
.modal-title
    font-size 15px
    
.modal-body
    height auto
    font-size 13px
    border-radius 3px
    
    p
        margin-top 20px
        color #444
        
    img
        width 200px
        height 200px
        display block
        margin 0 auto
    
.logo
    display block
    width 110px
    margin 0 auto

.wrapper-login
    background rgba(0,0,0,0.15)
    box-shadow inset 0px -100px 100px -20px rgba(0,0,0,0.4)
    border-radius 5px
    border 1px solid #7ad0e1
    min-height 200px
    padding 20px 20px
    height auto
    
    .title
        margin 5px 0px 10px 0px
        color #fff
        font-size 17px
        font-weight bold
    
    p
        color #fff
        font-size 13px
     
    a.input-group-addon
        transition 0.3s ease

    a.input-group-addon:hover
        background rgba(255,255,255,0.2)
        
    input[type=text], input[type=password]
        background transparent !important
        color rgba(255,255,255,0.9)
        border-left none
        border-right none
        border-top none
        border-radius 0px
        border-bottom 2px solid rgba(255,255,255,0.8)
        height 40px
        box-shadow none
        
    span
        border-radius 0px
        border-left none
        border-right none
        border-top none
        border-bottom 2px solid rgba(255,255,255,0.8)
        color #fff
        background transparent
        
        i
            font-size 25px
            
    a.input-group-addon
        border-radius 0px
        border-left none
        border-right none
        border-top none
        border-bottom 2px solid rgba(255,255,255,0.8)
        color #fff
        background transparent
        border-top-left-radius 3px
        border-top-right-radius 3px
        
        i
            font-size 25px
        
    input[type=button], input[type=submit]
        border none
        background #efa828
        border 1px solid #efa828
        height 50px
        border-radius 3px
        font-weight bold
        width 100%
        color #fff
        transition 0.3s ease
        
        &:active
            background #efa828
            border 1px solid #efa828
            box-shadow inset 0px 2px 4px rgba(0,0,0,0.5)
            
    .warning-text
        border 2px solid #BE161D
        background rgba(190,22,29,0.5)
        border-radius 5px
        margin-bottom 0px
        padding 8px
        font-size 13px
        

    a
        color #fff
        text-decoration underline
        font-weight bold
        
.wrapper-link
    height auto
    margin-top 5px
    margin-bottom 20px
    text-align center
    
    a
        color #fff
        text-decoration none !important
        font-size 12px !important
        
        i
            font-size 40px
            margin-right 12px
            position relative
            top 10px
            
.copyright
    display none

.btn-inverse input[type=button], .btn-inverse input[type=submit]
    background transparent
    border 1px solid rgba(255,255,255,0.5)
    color rgba(255,255,255,0.9)
    transition 0.3s ease
    
    &:hover
        background rgba(255,255,255,0.2)
        
.a-btn-inverse
    background transparent
    border 1px solid rgba(255,255,255,0.5)
    color rgba(255,255,255,0.9)
    transition 0.3s ease
    height 50px
    border-radius 3px
    font-weight bold
    width 100%
    transition 0.3s ease
    opacity 0.9
    display block
    text-align center
    padding 13px 0px
    
    &:hover
        background rgba(255,255,255,0.2)
        
.no-gutter
    padding-left 0px
    padding-right 0px
        
.margin-bottom-10
    margin-bottom 10px
    
.margin-bottom-20
    margin-bottom 20px
    
.margin-bottom-30
    margin-bottom 30px
    
.margin-top-5
    margin-top 5px
    
.margin-top-10
    margin-top 10px
    
.margin-top-20
    margin-top 20px
    
.margin-top-30
    margin-top 30px
    
.margin-top-40
    margin-top 40px
    
.margin-top-50
    margin-top 50px
    
.text-justify
    text-align justify
    
.text-center
    text-align center
    
.text-left
    text-align left
    
.text-right
    text-align right