::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5) !important;
  font-style: italic;
}
:-moz-placeholder {
  color: rgba(255,255,255,0.5) !important;
  font-style: italic;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.5) !important;
  font-style: italic;
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.5) !important;
  font-style: italic;
}
.loginFooterMsg {
  display: none;
}
a,
a:focus,
a:active,
a:visited,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
input:-webkit-autofill {
  background: transparent !important;
  color: rgba(255,255,255,0.9) !important;
}
body {
  background: #1e6284 url("http://i.imgur.com/Fh6W56Y.png") no-repeat 100% 20%;
  background-size: 100% 100%;
  font-family: 'Open Sans', serif;
  padding-bottom: 80px;
}
.modal-header {
  background: #f2f2f2;
  border-radius: 3px;
}
.modal-title {
  font-size: 15px;
}
.modal-body {
  height: auto;
  font-size: 13px;
  border-radius: 3px;
}
.modal-body p {
  margin-top: 20px;
  color: #444;
}
.modal-body img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 110px;
  margin: 0 auto;
}
.wrapper-login {
  background: rgba(0,0,0,0.15);
  box-shadow: inset 0px -100px 100px -20px rgba(0,0,0,0.4);
  border-radius: 5px;
  border: 1px solid #7ad0e1;
  min-height: 200px;
  padding: 20px 20px;
  height: auto;
}
.wrapper-login .title {
  margin: 5px 0px 10px 0px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.wrapper-login p {
  color: #fff;
  font-size: 13px;
}
.wrapper-login a.input-group-addon {
  transition: 0.3s ease;
}
.wrapper-login a.input-group-addon:hover {
  background: rgba(255,255,255,0.2);
}
.wrapper-login input[type=text],
.wrapper-login input[type=password] {
  background: transparent !important;
  color: rgba(255,255,255,0.9);
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(255,255,255,0.8);
  height: 40px;
  box-shadow: none;
}
.wrapper-login span {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid rgba(255,255,255,0.8);
  color: #fff;
  background: transparent;
}
.wrapper-login span i {
  font-size: 25px;
}
.wrapper-login a.input-group-addon {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid rgba(255,255,255,0.8);
  color: #fff;
  background: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wrapper-login a.input-group-addon i {
  font-size: 25px;
}
.wrapper-login input[type=button],
.wrapper-login input[type=submit] {
  border: none;
  background: #efa828;
  border: 1px solid #efa828;
  height: 50px;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
  color: #fff;
  transition: 0.3s ease;
}
.wrapper-login input[type=button]:active,
.wrapper-login input[type=submit]:active {
  background: #efa828;
  border: 1px solid #efa828;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
}
.wrapper-login .warning-text {
  border: 2px solid #be161d;
  background: rgba(190,22,29,0.5);
  border-radius: 5px;
  margin-bottom: 0px;
  padding: 8px;
  font-size: 13px;
}
.wrapper-login a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
.wrapper-link {
  height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.wrapper-link a {
  color: #fff;
  text-decoration: none !important;
  font-size: 12px !important;
}
.wrapper-link a i {
  font-size: 40px;
  margin-right: 12px;
  position: relative;
  top: 10px;
}
.copyright {
  display: none;
}
.btn-inverse input[type=button],
.btn-inverse input[type=submit] {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.9);
  transition: 0.3s ease;
}
.btn-inverse input[type=button]:hover,
.btn-inverse input[type=submit]:hover {
  background: rgba(255,255,255,0.2);
}
.a-btn-inverse {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.9);
  transition: 0.3s ease;
  height: 50px;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
  transition: 0.3s ease;
  opacity: 0.9;
  display: block;
  text-align: center;
  padding: 13px 0px;
}
.a-btn-inverse:hover {
  background: rgba(255,255,255,0.2);
}
.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
